<h1><%= @movie.title %></h1>
<h3>Genre: <%= @movie.genre %></h3>
<h3>Created In: <%= @movie.creation_year %></h3>

<h2> Starring </h2>
<% @movie.sort_by_age.each do |actor| %>
  <li><%= actor.name %></li>
<% end %>

<h3> Average Age of Actors: <%= @movie.average_actor_age.round(2) %> years old</h3>
